<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/f354e58b6a.js" crossorigin="anonymous"></script>
    <script src="/js/main.js defer"></script>
</head>
<body>
<nav class="headerbar">
    <div class="header_logo">
        <i class="fab fa-accusoft"></i>
        <a href="/">Portpolio</a>
    </div>
    <ul class="header_menu">
        <li><a href="/insert">메뉴 넣기</a></li>
        <li><a href="/see">메뉴 보기</a></li>
        <li><a href="/best">메뉴 추천</a></li>
        <li><a href="/blog">블로그 검색</a></li>
        <li><a href="/movie">영화 추천</a></li>
        <li><a href="/musiclist">노래 추천</a></li>
    </ul>
    <ul class="header_icons">
        <li><a href=""><i class="fab fa-facebook"></i></a></li>
        <li><a href=""><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://github.com/alswo1641"><i class="fab fa-github"></i></a></li>
    </ul>
    </div>
    <a class="header_toggleBtn">
        <i class="fas fa-bars"></i>
    </a>
</nav>

