{{>layout/header}}
<link href=""
<div class="col-md-6">
    <h3>추천메뉴는?</h3>
    <a href="/best" role="button" class="btn btn-primary">다시 추천</a>

</div>
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>메뉴</th>
        <th>가격</th>
        <th>이미지</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <tr id="bestmenu">
    </tr>
    </tbody>
</table>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/best.js"></script>
</body>
</html>