<!DOCTYPE HTML>
<html>
<head>
  <title>스프링 부트 웹서비스</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://kit.fontawesome.com/f354e58b6a.js" crossorigin="anonymous"></script>
  <script src="/js/main.js defer"></script>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/checkout/">

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/form-validation.css" rel="stylesheet">
</head>
<body class="bg-light">
<nav class="headerbar">
  <div class="header_logo">
    <i class="fab fa-accusoft"></i>
    <a href="/">Portpolio</a>
  </div>
  <ul class="header_menu">
    <li><a href="/insert">메뉴넣기</a></li>
    <li><a href="/see">메뉴보기</a></li>
    <li><a href="/best">메뉴추천</a></li>
    <li><a href="/blog">블로그 검색</a></li>
    <li><a href="/blog">블로그 검색</a></li>
    <li><a href="/movie">영화 추천</a></li>
    <li><a href="/musiclist">노래 추천</a></li>
  </ul>
  <ul class="header_icons">
    <li><a href=""><i class="fab fa-facebook"></i></a></li>
    <li><a href=""><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://github.com/alswo1641"><i class="fab fa-github"></i></a></li>
  </ul>
  </div>
  <a class="header_toggleBtn">
    <i class="fas fa-bars"></i>
  </a>
</nav>
<div class="container">
  <main>
    <br>
    <h2>메뉴 입력</h2>
    <br>
    <div class="form-group">
      <label for="menu">메뉴 이름:</label>
      <input type="text" class="form-control" id="menu" placeholder="메뉴 이름 입력" name="menu">
    </div>
    <br>
    <div class="form-group">
      <label for="price">가격:</label>
      <input type="number" class="form-control" id="price" placeholder="메뉴 가격 입력" name="price">
    </div>
    <br>
    <div class="form-group">
      <label for="img">이미지주소:</label>
      <input type="text" class="form-control" id="img" placeholder="이미지주소 입력" name="img">
    </div>
          <hr class="my-4">

          <button type="button" class="w-100 btn btn-primary btn-lg" id="btn-save">메뉴 등록</button>
          <br><br>
          <a href="/" role="button" class="w-100 btn btn-secondary">취소</a>
        </form>
  </main>
</div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="form-validation.js"></script>
  </body>
</html>



