{{>layout/header}}
<div class="col-md-6">
    <h3>현재 상영영화</h3><br>


</div>
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>영화 이미지</th>
        <th>영화 제목</th>
    </tr>
    </thead>
    <tbody id="movie">
    </tbody>
</table>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/movie.js"></script>
</body>
</html>