{{>layout/header}}
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>메뉴</th>
        <th>가격</th>
        <th>이미지</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#list}}
    <tr>
        <td>{{menu}}</td>
        <td>{{price}}</td>
        <td>{{img}}</td>
        <td><a href="/update">수정</a></td>
        <td><a href="/del">삭제</a></td>
    </tr>
    {{/list}}
    </tbody>
</table>
{{>layout/footer}}