<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/start.scss" rel="stylesheet">
</head>
<body>
<div class="container">

    <svg viewBox="0 0 1418 116" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>@WebDesignerMag</title>
        <g stroke="none" fill="none" fill-rule="evenodd" fill-opacity="0">
            <text id="@WebDesignerMag" stroke="#fff" fill="#645F5A" font-weight="normal" font-family="PermanentMarker-Regular, Permanent Marker" font-size="144">
                <tspan x="3" y="109"><!--
					--><tspan>W</tspan><!--
					--><tspan>e</tspan><!--
					--><tspan>b</tspan><!--
					--><tspan>P</tspan><!--
					--><tspan>o</tspan><!--
					--><tspan>r</tspan><!--
					--><tspan>t</tspan><!--
					--><tspan>f</tspan><!--
					--><tspan>o</tspan><!--
					--><tspan>l</tspan><!--
					--><tspan>i</tspan><!--
					--><tspan>o</tspan><!--
					--><tspan>!</tspan><!--
					--><tspan>!</tspan><!--
					--><tspan>!</tspan><!--
				--></tspan>
            </text>
        </g>
    </svg>

</div>
</body>
</html>